@charset "UTF-8";
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN"; }

a {
  text-decoration: none; }

header {
  background-color: #fff; }
  header .container {
    background-color: #696969;
    width: 100%;
    height: 50px;
    margin: 0 auto; }
    header .container .head-left {
      width: 50px;
      height: 50px;
      margin: 0 0 0 10px;
      position: relative; }
      header .container .head-left:hover {
        opacity: 0.1;
        background-color: #696969;
        transition: 0.5s; }
      header .container .head-left img {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        /*要素の大きさの半分ずつを戻す*/ }

.main {
  height: auto;
  width: 100vw; }
  .main .title h1 {
    text-align: center;
    width: 55vw;
    margin: 50px auto; }
  .main hr {
    width: 55vw;
    margin: 50px auto;
    background-color: #696969;
    height: 1px;
    border: none; }
  .main .contena {
    width: 55vw;
    height: 60vh;
    position: relative;
    margin: 0 auto; }
    .main .contena .background {
      width: 55vw;
      height: 60vh;
      background-color: #41515b;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0; }
      .main .contena .background .drop {
        animation: rain 500ms linear infinite;
        width: 1px;
        height: 20px;
        position: absolute;
        top: -20px;
        left: 0;
        background-color: #A1AFD4; }
      .main .contena .background > .drop:nth-child(1) {
        animation-delay: 100ms;
        animation-duration: 496ms;
        left: 12vw; }
      .main .contena .background > .drop:nth-child(2) {
        animation-delay: 200ms;
        animation-duration: 401ms;
        left: 9vw; }
      .main .contena .background > .drop:nth-child(3) {
        animation-delay: 300ms;
        animation-duration: 428ms;
        left: 15vw; }
      .main .contena .background > .drop:nth-child(4) {
        animation-delay: 400ms;
        animation-duration: 424ms;
        left: 54vw; }
      .main .contena .background > .drop:nth-child(5) {
        animation-delay: 500ms;
        animation-duration: 474ms;
        left: 50vw; }
      .main .contena .background > .drop:nth-child(6) {
        animation-delay: 600ms;
        animation-duration: 376ms;
        left: 55vw; }
      .main .contena .background > .drop:nth-child(7) {
        animation-delay: 700ms;
        animation-duration: 586ms;
        left: 55vw; }
      .main .contena .background > .drop:nth-child(8) {
        animation-delay: 800ms;
        animation-duration: 541ms;
        left: 32vw; }
      .main .contena .background > .drop:nth-child(9) {
        animation-delay: 900ms;
        animation-duration: 610ms;
        left: 46vw; }
      .main .contena .background > .drop:nth-child(10) {
        animation-delay: 1000ms;
        animation-duration: 386ms;
        left: 50vw; }
      .main .contena .background > .drop:nth-child(11) {
        animation-delay: 1100ms;
        animation-duration: 615ms;
        left: 16vw; }
      .main .contena .background > .drop:nth-child(12) {
        animation-delay: 1200ms;
        animation-duration: 600ms;
        left: 2vw; }
      .main .contena .background > .drop:nth-child(13) {
        animation-delay: 1300ms;
        animation-duration: 439ms;
        left: 27vw; }
      .main .contena .background > .drop:nth-child(14) {
        animation-delay: 1400ms;
        animation-duration: 389ms;
        left: 4vw; }
      .main .contena .background > .drop:nth-child(15) {
        animation-delay: 1500ms;
        animation-duration: 533ms;
        left: 27vw; }
      .main .contena .background > .drop:nth-child(16) {
        animation-delay: 1600ms;
        animation-duration: 485ms;
        left: 4vw; }
      .main .contena .background > .drop:nth-child(17) {
        animation-delay: 1700ms;
        animation-duration: 512ms;
        left: 50vw; }
      .main .contena .background > .drop:nth-child(18) {
        animation-delay: 1800ms;
        animation-duration: 505ms;
        left: 42vw; }
      .main .contena .background > .drop:nth-child(19) {
        animation-delay: 1900ms;
        animation-duration: 534ms;
        left: 35vw; }
      .main .contena .background > .drop:nth-child(20) {
        animation-delay: 2000ms;
        animation-duration: 473ms;
        left: 54vw; }
      .main .contena .background > .drop:nth-child(21) {
        animation-delay: 2100ms;
        animation-duration: 589ms;
        left: 30vw; }
      .main .contena .background > .drop:nth-child(22) {
        animation-delay: 2200ms;
        animation-duration: 520ms;
        left: 49vw; }
      .main .contena .background > .drop:nth-child(23) {
        animation-delay: 2300ms;
        animation-duration: 398ms;
        left: 31vw; }
      .main .contena .background > .drop:nth-child(24) {
        animation-delay: 2400ms;
        animation-duration: 477ms;
        left: 27vw; }
      .main .contena .background > .drop:nth-child(25) {
        animation-delay: 2500ms;
        animation-duration: 463ms;
        left: 24vw; }
      .main .contena .background > .drop:nth-child(26) {
        animation-delay: 2600ms;
        animation-duration: 433ms;
        left: 15vw; }
      .main .contena .background > .drop:nth-child(27) {
        animation-delay: 2700ms;
        animation-duration: 436ms;
        left: 2vw; }
      .main .contena .background > .drop:nth-child(28) {
        animation-delay: 2800ms;
        animation-duration: 480ms;
        left: 22vw; }
      .main .contena .background > .drop:nth-child(29) {
        animation-delay: 2900ms;
        animation-duration: 527ms;
        left: 31vw; }
      .main .contena .background > .drop:nth-child(30) {
        animation-delay: 3000ms;
        animation-duration: 522ms;
        left: 7vw; }
      .main .contena .background > .drop:nth-child(31) {
        animation-delay: 3100ms;
        animation-duration: 520ms;
        left: 8vw; }
      .main .contena .background > .drop:nth-child(32) {
        animation-delay: 3200ms;
        animation-duration: 503ms;
        left: 44vw; }
      .main .contena .background > .drop:nth-child(33) {
        animation-delay: 3300ms;
        animation-duration: 543ms;
        left: 12vw; }
      .main .contena .background > .drop:nth-child(34) {
        animation-delay: 3400ms;
        animation-duration: 474ms;
        left: 14vw; }
      .main .contena .background > .drop:nth-child(35) {
        animation-delay: 3500ms;
        animation-duration: 620ms;
        left: 53vw; }
      .main .contena .background > .drop:nth-child(36) {
        animation-delay: 3600ms;
        animation-duration: 444ms;
        left: 22vw; }
      .main .contena .background > .drop:nth-child(37) {
        animation-delay: 3700ms;
        animation-duration: 419ms;
        left: 37vw; }
      .main .contena .background > .drop:nth-child(38) {
        animation-delay: 3800ms;
        animation-duration: 383ms;
        left: 55vw; }
      .main .contena .background > .drop:nth-child(39) {
        animation-delay: 3900ms;
        animation-duration: 473ms;
        left: 12vw; }
      .main .contena .background > .drop:nth-child(40) {
        animation-delay: 4000ms;
        animation-duration: 482ms;
        left: 11vw; }
      .main .contena .background > .drop:nth-child(41) {
        animation-delay: 4100ms;
        animation-duration: 396ms;
        left: 1vw; }
      .main .contena .background > .drop:nth-child(42) {
        animation-delay: 4200ms;
        animation-duration: 477ms;
        left: 3vw; }
      .main .contena .background > .drop:nth-child(43) {
        animation-delay: 4300ms;
        animation-duration: 604ms;
        left: 15vw; }
      .main .contena .background > .drop:nth-child(44) {
        animation-delay: 4400ms;
        animation-duration: 439ms;
        left: 15vw; }
      .main .contena .background > .drop:nth-child(45) {
        animation-delay: 4500ms;
        animation-duration: 448ms;
        left: 36vw; }
      .main .contena .background > .drop:nth-child(46) {
        animation-delay: 4600ms;
        animation-duration: 583ms;
        left: 16vw; }
      .main .contena .background > .drop:nth-child(47) {
        animation-delay: 4700ms;
        animation-duration: 382ms;
        left: 12vw; }
      .main .contena .background > .drop:nth-child(48) {
        animation-delay: 4800ms;
        animation-duration: 580ms;
        left: 14vw; }
      .main .contena .background > .drop:nth-child(49) {
        animation-delay: 4900ms;
        animation-duration: 500ms;
        left: 15vw; }
      .main .contena .background > .drop:nth-child(50) {
        animation-delay: 5000ms;
        animation-duration: 502ms;
        left: 42vw; }
      .main .contena .background > .drop:nth-child(51) {
        animation-delay: 5100ms;
        animation-duration: 377ms;
        left: 55vw; }
      .main .contena .background > .drop:nth-child(52) {
        animation-delay: 5200ms;
        animation-duration: 444ms;
        left: 47vw; }
      .main .contena .background > .drop:nth-child(53) {
        animation-delay: 5300ms;
        animation-duration: 381ms;
        left: 23vw; }
      .main .contena .background > .drop:nth-child(54) {
        animation-delay: 5400ms;
        animation-duration: 441ms;
        left: 28vw; }
      .main .contena .background > .drop:nth-child(55) {
        animation-delay: 5500ms;
        animation-duration: 396ms;
        left: 19vw; }
      .main .contena .background > .drop:nth-child(56) {
        animation-delay: 5600ms;
        animation-duration: 469ms;
        left: 12vw; }
      .main .contena .background > .drop:nth-child(57) {
        animation-delay: 5700ms;
        animation-duration: 388ms;
        left: 23vw; }
      .main .contena .background > .drop:nth-child(58) {
        animation-delay: 5800ms;
        animation-duration: 531ms;
        left: 12vw; }
      .main .contena .background > .drop:nth-child(59) {
        animation-delay: 5900ms;
        animation-duration: 527ms;
        left: 44vw; }
      .main .contena .background > .drop:nth-child(60) {
        animation-delay: 6000ms;
        animation-duration: 579ms;
        left: 43vw; }
      .main .contena .background > .drop:nth-child(61) {
        animation-delay: 6100ms;
        animation-duration: 554ms;
        left: 20vw; }
      .main .contena .background > .drop:nth-child(62) {
        animation-delay: 6200ms;
        animation-duration: 458ms;
        left: 10vw; }
      .main .contena .background > .drop:nth-child(63) {
        animation-delay: 6300ms;
        animation-duration: 527ms;
        left: 52vw; }
      .main .contena .background > .drop:nth-child(64) {
        animation-delay: 6400ms;
        animation-duration: 609ms;
        left: 21vw; }
      .main .contena .background > .drop:nth-child(65) {
        animation-delay: 6500ms;
        animation-duration: 395ms;
        left: 40vw; }
      .main .contena .background > .drop:nth-child(66) {
        animation-delay: 6600ms;
        animation-duration: 546ms;
        left: 51vw; }
      .main .contena .background > .drop:nth-child(67) {
        animation-delay: 6700ms;
        animation-duration: 598ms;
        left: 33vw; }
      .main .contena .background > .drop:nth-child(68) {
        animation-delay: 6800ms;
        animation-duration: 457ms;
        left: 40vw; }
      .main .contena .background > .drop:nth-child(69) {
        animation-delay: 6900ms;
        animation-duration: 567ms;
        left: 31vw; }
      .main .contena .background > .drop:nth-child(70) {
        animation-delay: 7000ms;
        animation-duration: 397ms;
        left: 38vw; }
      .main .contena .background > .drop:nth-child(71) {
        animation-delay: 7100ms;
        animation-duration: 456ms;
        left: 39vw; }
      .main .contena .background > .drop:nth-child(72) {
        animation-delay: 7200ms;
        animation-duration: 439ms;
        left: 10vw; }
      .main .contena .background > .drop:nth-child(73) {
        animation-delay: 7300ms;
        animation-duration: 504ms;
        left: 24vw; }
      .main .contena .background > .drop:nth-child(74) {
        animation-delay: 7400ms;
        animation-duration: 405ms;
        left: 7vw; }
      .main .contena .background > .drop:nth-child(75) {
        animation-delay: 7500ms;
        animation-duration: 481ms;
        left: 41vw; }
      .main .contena .background > .drop:nth-child(76) {
        animation-delay: 7600ms;
        animation-duration: 441ms;
        left: 2vw; }
      .main .contena .background > .drop:nth-child(77) {
        animation-delay: 7700ms;
        animation-duration: 568ms;
        left: 45vw; }
      .main .contena .background > .drop:nth-child(78) {
        animation-delay: 7800ms;
        animation-duration: 611ms;
        left: 23vw; }
      .main .contena .background > .drop:nth-child(79) {
        animation-delay: 7900ms;
        animation-duration: 408ms;
        left: 50vw; }
      .main .contena .background > .drop:nth-child(80) {
        animation-delay: 8000ms;
        animation-duration: 403ms;
        left: 49vw; }
      .main .contena .background > .drop:nth-child(81) {
        animation-delay: 8100ms;
        animation-duration: 447ms;
        left: 28vw; }
      .main .contena .background > .drop:nth-child(82) {
        animation-delay: 8200ms;
        animation-duration: 500ms;
        left: 23vw; }
      .main .contena .background > .drop:nth-child(83) {
        animation-delay: 8300ms;
        animation-duration: 383ms;
        left: 15vw; }
      .main .contena .background > .drop:nth-child(84) {
        animation-delay: 8400ms;
        animation-duration: 517ms;
        left: 40vw; }
      .main .contena .background > .drop:nth-child(85) {
        animation-delay: 8500ms;
        animation-duration: 533ms;
        left: 19vw; }
      .main .contena .background > .drop:nth-child(86) {
        animation-delay: 8600ms;
        animation-duration: 418ms;
        left: 6vw; }
      .main .contena .background > .drop:nth-child(87) {
        animation-delay: 8700ms;
        animation-duration: 604ms;
        left: 48vw; }
      .main .contena .background > .drop:nth-child(88) {
        animation-delay: 8800ms;
        animation-duration: 620ms;
        left: 47vw; }
      .main .contena .background > .drop:nth-child(89) {
        animation-delay: 8900ms;
        animation-duration: 575ms;
        left: 41vw; }
      .main .contena .background > .drop:nth-child(90) {
        animation-delay: 9000ms;
        animation-duration: 564ms;
        left: 38vw; }
      .main .contena .background > .drop:nth-child(91) {
        animation-delay: 9100ms;
        animation-duration: 624ms;
        left: 36vw; }
      .main .contena .background > .drop:nth-child(92) {
        animation-delay: 9200ms;
        animation-duration: 475ms;
        left: 35vw; }
      .main .contena .background > .drop:nth-child(93) {
        animation-delay: 9300ms;
        animation-duration: 604ms;
        left: 2vw; }
      .main .contena .background > .drop:nth-child(94) {
        animation-delay: 9400ms;
        animation-duration: 392ms;
        left: 5vw; }
      .main .contena .background > .drop:nth-child(95) {
        animation-delay: 9500ms;
        animation-duration: 589ms;
        left: 44vw; }
      .main .contena .background > .drop:nth-child(96) {
        animation-delay: 9600ms;
        animation-duration: 456ms;
        left: 29vw; }
      .main .contena .background > .drop:nth-child(97) {
        animation-delay: 9700ms;
        animation-duration: 464ms;
        left: 26vw; }
      .main .contena .background > .drop:nth-child(98) {
        animation-delay: 9800ms;
        animation-duration: 582ms;
        left: 8vw; }
      .main .contena .background > .drop:nth-child(99) {
        animation-delay: 9900ms;
        animation-duration: 550ms;
        left: 26vw; }
      .main .contena .background > .drop:nth-child(100) {
        animation-delay: 10000ms;
        animation-duration: 379ms;
        left: 40vw; }
@keyframes rain {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(60vh); } }
  .main .explain {
    margin: 0 auto;
    width: 55vw;
    text-align: left; }
    .main .explain ul {
      list-style-type: none;
      padding-left: 0;
      display: table; }
      .main .explain ul li {
        display: table-row;
        margin-bottom: 0.5em; }
        .main .explain ul li::after {
          content: "";
          display: block;
          margin-bottom: 0.5em; }
        .main .explain ul li::before {
          content: "・";
          display: table-cell;
          margin-bottom: 0.4em; }

footer {
  margin: 100px 0 32px;
  color: #2b546a;
  font-size: 14px;
  text-align: center; }

/*# sourceMappingURL=SheetTopic2.css.map */
